package/
Document/
# inputディレクトリ内のすべてのディレクトリを無視
input/images/*
input/videoes/*
input/texts/*

output/images/*
output/videos/*

# ただし、stageディレクトリは無視しない
!input/images/stage/

# outputディレクトリ内のすべてのディレクトリを無視
output/*

src/sam2/segment_anything_2/sam2/sam2_hiera_b+.yaml
src/sam2/segment_anything_2/sam2/sam2_hiera_b+.yaml
